@import '~bpk-mixins';

.App {
  &__main {
    min-height: 100vh;
    padding: $bpk-spacing-sm;
    background-color: grayscale($color: #eee);
  }

  &__spinner {
    margin-top: 25vh;
    text-align: center;
  }
}
