@import '~bpk-mixins';

.Leg {
  &__container {
    display: flex;
    width: 100%;
    padding: $bpk-spacing-xs;
    flex-direction: row;
  }

  &__logo {
    display: flex;
    height: 35pt;
    flex-direction: column;
    flex-basis: 35pt;
    border-radius: $bpk-border-radius-sm;
  }

  &__origin {
    display: flex;
    height: 35pt;
    margin-left: $bpk-spacing-xs;
    flex-direction: column;
    align-content: center;
    flex-basis: 35pt;
  }

  &__destination {
    display: flex;
    height: 35pt;
    margin-left: $bpk-spacing-xs;
    flex-direction: column;
    align-content: center;
    flex-basis: 35pt;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
  }

  &__arrow {
    display: flex;
    height: 35pt;
    align-items: center;
  }
}
