@import '~bpk-mixins';

.Pricing {
  &_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &_detail {
    display: flex;
    flex-direction: column;
  }

  &_select {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    justify-content: center; 
  }

  &_price {
    color: grayscale($color: #000000)
  }
    
  &_provider {
    color: grayscale($color: #999999)
  }
}
