@import '~bpk-mixins';

.Pricing {
  &__container {
    display: flex;
    width: 100%;
    flex-flow: wrap row;
  }

  &__detail {
    display: flex;
    flex-direction: column;
  }

  &__select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
  }

  &__price {
    color: grayscale($color: #000);
  }

  &__provider {
    color: grayscale($color: #999);
  }
}
