@import '~bpk-mixins';

.TimeLocation {
  &__time {
    width: 25pt;
    height: 25pt;
  }

  &__location {
    width: 25pt;
    height: 25pt;
    color: grayscale($color: #777);
  }

  &__container {
    padding-left: 2pt;
  }
}
